html{
    box-sizing:border-box;
    font-family: 'IBM Plex Mono', monospace;
}

body{
    background-color: rgb(0, 0, 0);
}

.header {
    position: fixed;
    top: 95vh;
    z-index: 1;
    width: 100%;
    opacity: 100%;
    background-color: #000000;
    height:0px;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 0px;
    opacity: 100%;
    background: rgb(0, 0, 0);
    position: fixed;
    float: bottom;
  }

  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 2vh;
    background: #b4b4b4;
    width: 0%;
  }

body{
    background-color: rgb(0, 0, 0);
}

.dropdown{
    height: auto;
    position:absolute;
    width:5%;
    top: 75vh;
    left: 90vw;
    align-items: right;
    float: right;
    opacity:80%;
    font-size: 16px;
    line-height: 0;
    white-space: nowrap;
    color: rgb(0, 0, 0);
} 

#dropdown:hover{
    opacity: 50%;
}

.backtop{
    height: auto;
    position:absolute;
    width:5%;
    top: 99.5%;
    left: 85vw;
    align-items: right;
    opacity:80%;
    font-size: 16px;
    line-height: 0;
    white-space: nowrap;
    color:rgb(224, 224, 224);
    padding-bottom: 50px;
} 

#backtop:hover{
    opacity: 50%;
    cursor:crosshair;
}


/* Home Button */
a {
    position:fixed;
    transform: translate(2%, 70%);
    /* pushes text onto image */
    width:100%;
    text-align: left;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    color:rgb(0, 0, 0);
    top: 50px;
    letter-spacing: 2px;
}

/* About + Contact */
.footer {
    position:relative;
    width:100%;
    text-align: center;
    font-size: 16px;
    color: white;
    line-height: 20vh;
    letter-spacing: 5px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2);
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
    max-width: 100%;
    align-items: center;
    overflow-y: auto;
    overflow-x: auto;
    column-gap: 0px;
    row-gap: 20px;
    column-gap: 10px;
   
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.splash{
    position:relative;
    top: auto;
    left: auto;
    border-radius: 0px;
    margin-top: 1%;
    
}
.container>* {
    /* >*= universal selector = apply to everything inside the container */
    background-color: rgb(0, 0, 0);
}

.item{
    width:20%;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
   }

   .item1{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item2{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
}

.item3{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height/width) */
    margin-bottom: 20px;
    opacity: .9;
    border-radius: 20px;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 5vw;
    width: 90%;
    height: 100%;
  }

@media screen and (max-width:800px){

    .dropdown{
        display: none;
    }

    .backtop{
        display: none;
    }


    /* Home Button */
    a {
    position:fixed;
    transform: translate(-40%, 10%);
    /* pushes text onto image */
    width:100%;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(92, 92, 92);
    top: 50px;
    letter-spacing: 2px;
    }

    .container{
        display: flex;
        flex-direction: column;
        position:relative;
        margin-left: auto;
        margin-top: 10%;
        min-width: 100%;
        align-items: center;
        overflow-y: auto;
        overflow-x: auto;
        column-gap: 0px;
       
    }
    
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
    

.containermobile>* {
    /* >*= universal selector = apply to everything inside the container */
    background-color: rgb(0, 0, 0);
}

.item{
    width:20%;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
   }


.item1{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
}

.item2{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
}

.item3{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
}
}