html{
    box-sizing:border-box;
    font-family: 'IBM Plex Mono', monospace;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(0, 0, 0);
    max-width: 100vw;
    max-height: 100vh;
}

.header{
    position:fixed;
    width: 100%;
    font-style:bold;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: -6%;
    letter-spacing: 1px;
}

.selectedworks {
    position:fixed;
    width:100%;
    text-align: center;
    font-size: 20px;
    color: rgb(139, 139, 139);
    margin-top: 20px;
    letter-spacing: 3px;
}

.footer {
    position:fixed;
    width:100%;
    text-align: center;
    font-size: 16px;
    color: white;
    line-height: 30vh;
    letter-spacing: 5px;
}

.container{
    overflow-x: hidden;
    display: flex;
    position: relative;
    margin-left: 30%;
    margin-top: 8%;
    max-width: none;
    align-items: center;
    overflow-y: auto;
   
}

/*  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  */

.container>* {
    /* >*= universal selector = apply to everything inside the container */
    background-color: rgb(0, 0, 0);
}

/* .item{
    max-width:50px;
} */

img {
    border-radius: 40px;
    padding: 25px;
    cursor: crosshair;
   }

   img:hover {
    opacity: 0.7;
}


@media screen and (max-width:800px){

    .header{
    
        position:absolute;
        width: 100%;
        font-style:bold;
        font-size: 18px;
        color: white;
        text-align: center;
        align-items: center;
        margin-top: -5%;
        letter-spacing: 1px;
    }

    .selectedworks {
        position:absolute;
        width:100%;
        text-align: center;
        font-size: 12px;
        color: rgb(139, 139, 139);
        margin-top: 15px;
        letter-spacing: 3px;
    }

    .footer {
          letter-spacing: 5px;
    }    
    .container{
        display: flex;
        flex-direction: column;
        position:relative;
        margin-top: 10%;
        margin-right: 25vw;
        max-width: none;
        align-items: center;
        overflow-y: none;
    }
    
     ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
     }
    
    .container>* {
        /* >*= universal selector = apply to everything inside the container */
        background-color: rgb(0, 0, 0);
    }
    
    img {
        border-radius: 10px;
        padding: 10px;
        cursor: crosshair;
       }
    
       img:hover {
        opacity: 0.5;
        
    }
}