html{
    box-sizing:border-box;
    font-family: 'IBM Plex Mono', monospace;
}

body{
    background-color: rgb(0, 0, 0);
}

.header{
    
    position:fixed;
    width: 100%;
    font-style:bold;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: -7%;
    letter-spacing: 1px;
}

.selectedworks {
    position:fixed;
    width:100%;
    text-align: center;
    font-size: 20px;
    color: rgb(139, 139, 139);
    margin-top: 25px;
    letter-spacing: 3px;
}

.footer {
    position:fixed;
    width:100%;
    text-align: center;
    font-size: 16px;
    color: white;
    line-height: 35vh;
    letter-spacing: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    position:relative;
    margin-left: 30%;
    margin-top: 10%;
    min-width: 180%;
    align-items: center;
    overflow-y: auto;
    overflow-x: auto;
    column-gap: 0px;
   
}

 ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
 }

.container>* {
    /* >*= universal selector = apply to everything inside the container */
    background-color: rgb(0, 0, 0);
}

.item{
    width:20%;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
   }

.item1{
    width: 100%;
    padding: 15px;
    
}

.item2{
    width: 100%;
    padding: 15px;
}

.item3{
    width: 87%;
    padding: 15px;
}

.item4{
    width: 100%;
    padding: 15px;
}


@media screen and (max-width:800px){

    .header{
    
        position:absolute;
        width: 100%;
        font-style:bold;
        font-size: 18px;
        color: white;
        text-align: center;
        margin-top: -8%;
        margin-left: auto;
        letter-spacing: 1px;
    }

    .selectedworks {
        position:absolute;
        width:100%;
        text-align: center;
        font-size: 12px;
        color: rgb(139, 139, 139);
        margin-top: 15px;
        letter-spacing: 3px;
    }

    .footer {
        position:absolute;
        width:100%;
        text-align: center;
        font-size: 10px;
        color: white;
        margin-top: -10px;
        letter-spacing: 5px;
    }    
    .container{
        display: flex;
        flex-direction: column;
        position:relative;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 8%;
        min-width: 100%;
        align-items: center;
        overflow-y: auto;
        overflow-x: auto;
    }
    
     ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
     }
    
    .container>* {
        /* >*= universal selector = apply to everything inside the container */
        background-color: rgb(0, 0, 0);
    }
    
    .item{
        width:20%;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 20px;
       }
    
    .item1{
        width: 80%;
        padding: 15px;
        
    }
    
    .item2{
        width: 80%;
        padding: 15px;
    }
    
    .item3{
        width: 80%;
        padding: 15px;
    }
    
    .item4{
        width: 80%;
        padding: 15px;
    }
    
}



